body{
	background-color: #222;
}
#Logo{
	padding-top: 33px;
	padding-left: 20px;
	width: 500px;
	position: absolute;
}
#Wellcome{
	position: absolute;
	margin-left: 34%;
	margin-right: 34%;
	text-align: center;
	color: #FFA533;
	background-color: rgba(0,0,0,0.65);
	font-family: 'Brush Script MT', Cursive;
	font-size: 50px;
	margin-top: 190px;
}
.Bold{
	font-weight: 700;
}
#Kontakt{
	margin-left: 34%;
	margin-right: 34%;
	text-align: center;
	color: #FFA533;
	background-color: rgba(0,0,0,0.65);
	font-family: 'Brush Script MT', Cursive;
	font-size: 50px;
	margin-top: 100px;
}
#Impressum{
	margin-left: 34%;
	margin-right: 34%;
	text-align: center;
	color: #FFA533;
	background-color: rgba(0,0,0,0.65);
	font-family: 'Brush Script MT', Cursive;
	font-size: 50px;
	margin-top: 100px;
}
.Background{
	width: 1600px;
	padding-top: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
}
#Kopfzeile {
	height: 140px;
	background-color: #000;
}
#headerLinks{ 
	padding-right: 5px;
	padding-top:50px;
	float: right;
}
#headerLinks a{
	padding-right: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
#Beschreibungen{
	color: white;
	text-align: left;
	font-size: 27px;
	font-family: 'Arial', Sans-serif;
}
.Angebote1{
	position: absolute;
	width: 415px;
	top: 85%;
	left: 23%;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	background-color: rgba(0,0,0,0.65);
	padding: 15px;
}
.Angebote2{
	position: absolute;
	width: 450px;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	background-color: rgba(0,0,0,0.65);
	padding: 15px;
}
.Angebote3{
	position: absolute;
	width: 415px;
	top: 85%;
	left: 77%;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	background-color: rgba(0,0,0,0.65);
	padding: 15px;
}
#mainWrapper footer{
	clear: both;
	overflow: auto;
	background-color: #000;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 222px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}
#mainWrapper footer div{
	width: 27%;
	float: left;
	padding-left: 3%;
	padding-right: 3%;
	color: white;
	text-align: justify;
}
footer div a {
	color: #FFA533;
	display: block;
	text-decoration: none;
	text-align: left;
}
#footerLinks{ 
	padding-right: 5px;
	padding-top: 50px;
	float: right;
}
footer .footerlinks p {
	display: inline;
}
.Produkte{
	margin-left: 34%;
	margin-right: 34%;
	text-align: center;
	color: #FFA533;
	background-color: rgba(0,0,0,0.65);
	font-family: 'Brush Script MT', Cursive;
	font-size: 50px;
	margin-top: 100px;
}
#Kategorien{
	text-align: center;
	display: block;
	padding-top: 40px;
}
#Kategorien a{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 9%;
	text-decoration: none;
}
#Autos{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
}
.BoxsterT{
	height: 140px;
	padding-right: 150px;
}
.bmx3{
	height: 200px;
	padding-right: 100px;
}
.Macan{
	height: 170px;
	padding-right: 100px;
}
.Actros{
	height: 200px;
	padding-left: 100px;
}
#Autos_Name{
	text-align: center;
	display: block;
}
#Autos_Name a{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 25px;
	padding: 9%;
	text-decoration: none;
}
.Background2{
	position: relative;
	height: 300px;
	padding-top: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.0;
}
#Auto_Details{
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.Beschreibung1{
	position: absolute;
	top: 1945px;
	left: 315px;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	padding: 10px;
}
.Beschreibung2{
	position: absolute;
	top: 1945px;
	left: 760px;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	padding: 10px;
}
.Beschreibung3{
	position: absolute;
	top: 1945px;
	left: 1195px;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	padding: 10px;
}
.Beschreibung4{
	position: absolute;
	top: 1960px;
	left: 1600px;
	transform: translate(-50%, -50%);
	padding-right: 10px;
}
#ContaktUs{
	width: 410px;
	position: absolute;
	top: 450px;
	left: 1320px;
	color: grey;
	text-align: justify;
	font-size: 20px;
	font-family: Roboto, Arial, sans-serif;
}
#GoogleMaps{
	margin-top: 18%;
	margin-left: 8%;
}
.Titel{
	font-weight: 600;
	font-size: 25px;
}
#Anschrift{
	position: absolute;
	top: 775px;
	left: 665px;
	transform: translate(-50%, -50%);
	padding-right: 10px;
	padding: 10px;
	color: white;
	text-align: left;
	font-size: 20px;
	font-family: Roboto, Arial, sans-serif;
}
#Oeffnungszeiten{
	position: absolute;
	top: 450px;
	left: 567px;
	padding: 10px;
	color: white;
	text-align: left;
	font-size: 20px;
	font-family: Roboto, Arial, sans-serif;
}
#Telefon{
	position: absolute;
	top: 450px;
	left: 150px;
	padding: 10px;
	color: white;
	text-align: left;
	font-size: 20px;
	font-family: Roboto, Arial, sans-serif;
}
#Impressum_Daten{
	margin-top: 90px;
	margin-left: 400px;
	margin-bottom: 90px;
	padding: 10px;
	color: white;
	text-align: left;
	font-size: 20px;
	font-family: Roboto, Arial, sans-serif;
}
#suche{   
	margin-left: 1787px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

#input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ED0000;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#suche:hover{
    width: 200px;
    cursor: pointer;
}

#suche:hover #input{
    display: block;
}

#suche:hover .fa{
    background: #FFA533;
    color: white;
}
@media (max-width: 1584px){
}
* {
box-sizing: border-box;
}
#form {
min-height: 370px;
padding: 0;
margin: 0;
font-family: Roboto, Arial, sans-serif;
font-size: 20px; 
color: #666;
top: -400px;
left: 1300px;
width: 450px;
}
input, textarea { 
outline: none;
}
#from {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
background: #222;
width: 450px;
}
h1 {
margin-top: 0;
font-weight: 900;
padding: 15px;
font-size: 30px;
}
#form {
position: relative;
width: 450px;
border-radius: 30px;
background: white;
}
.form2-left-decoration,
.form2-right-decoration {
content: "";
position: absolute;
width: 50px;
height: 20px;
border-radius: 20px;
background: #222;
}
.form2-left-decoration {
bottom: 60px;
left: -30px;
}
.form2-right-decoration {
top: 60px;
right: -30px;
}
.form2-left-decoration:before,
.form2-left-decoration:after,
.form2-right-decoration:before,
.form-right-decoration:after {
content: "";
position: absolute;
width: 50px;
height: 20px;
border-radius: 30px;
background: #fff;
}
.form2-left-decoration:before {
top: -20px;
}
.form2-left-decoration:after {
top: 20px;
left: 10px;
}
.form2-right-decoration:before {
top: -20px;
right: 0;
}
.form2-right-decoration:after {
top: 20px;
right: 10px;
}
.circle {
position: absolute;
bottom: 80px;
left: -55px;
width: 20px;
height: 20px;
border-radius: 50%;
background: #fff;
 }
.form2-inner {
 padding:40px;
 }
.form2-inner input,
.form2-inner textarea {
display: block;
width: 100%;
padding: 15px;
margin-bottom: 10px;
border: none;
border-radius: 20px;
background: #EDBBBB;
}
.form2-inner textarea {
resize: none;
}
button {
width: 100%;
padding: 10px;
margin-top: 20px;
border-radius: 20px;
border: none;
border-bottom: 4px solid #650000;
background: #DC0000; 
font-size: 19px;
font-weight: 400;
color: #fff;
}
button:hover {
background: #540000;
} 
@media (min-width: 450px) {
#form {
width: 450px;
}
}
